/example1_hello_world/bin/*
/example1_hello_world/CMakeFiles/*
/example1_hello_world/CMakeCache.txt
/example1_hello_world/cmake_install.cmake
/example1_hello_world/compile_commands.json
/example1_hello_world/Makefile

/example2_bbfs/config.log
/example2_bbfs/config.status
/example2_bbfs/Makefile
/example2_bbfs/src/bbfs
/example2_bbfs/src/bbfs.o
/example2_bbfs/src/config.h
/example2_bbfs/src/log.o
/example2_bbfs/src/Makefile
/example2_bbfs/src/stamp-h1
/example2_bbfs/src/.deps/*
/example2_bbfs/example/rootdir/*
/example2_bbfs/example/mountdir/*

/example3_my_fuse/bin/*
/example3_my_fuse/CMakeFiles/*
/example3_my_fuse/CMakeCache.txt
/example3_my_fuse/cmake_install.cmake
/example3_my_fuse/compile_commands.json
/example3_my_fuse/Makefile
